* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.img1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 0px;
    transform: translate(10px, 10px);
}

header {
    display: flex;
    float: right;
    gap: 10px;
    padding: 2px 30px;
}

header a{
    padding-left: 18px;
    font-size: 13px;
    color: rgb(73, 65, 65);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headnav {
    padding-top: 17px;
   
}

.headnav2 svg path{
    color: rgb(73, 65, 65);

}







